server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false   # VERY IMPORTANT
    fetch-registry: false         # VERY IMPORTANT

  instance:
    hostname: localhost
